#container {
  position: relative;
  background-color: #323232;
  color: #fff;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  margin: 50px auto; /* Outside */
  padding: 10px 20px ; /* top right bottom left */
}
#city {
  position: absolute;
  bottom: -25px;
  left: 65px;
  border: 1px solid rgb(201, 54, 54);
  border-radius: 10px;
}

#city_name {
  margin: 0;
}

.values {
  display: block;
  padding: 5px 0;
  font-size: 15px;
}

